<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientBaseMigration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ClientBaseMigration.Properties.Settings>
            <setting name="PathBaseED2" serializeAs="String">
                <value>D:\ClientED2\ClientED2010.mdb </value>
            </setting>
            <setting name="PathBaseCTM" serializeAs="String">
                <value />
            </setting>
            <setting name="PathBaseNew" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="PathExcelFile" serializeAs="String">
                <value />
            </setting>
        </ClientBaseMigration.Properties.Settings>
    </userSettings>
</configuration>